
<div class="product-details-container tw-bg-[#1E1E1E] tw-mt-[100px] max1440:tw-px-10 max768:tw-px-5 max768:tw-pt-5">
    <div class="tw-w-full tw-max-w-[1440px] tw-mx-auto tw-flex tw-gap-20 tw-items-center tw-text-white max1440:tw-gap-10 max768:tw-flex-col max768:tw-gap-0">
        <div class="product-details-left tw-py-12 tw-w-full max768:tw-order-2 max768:tw-py-0">
            <h1 class="tw-font-made-saonara tw-text-[55px] tw-font-normal tw-leading-[65px] tw-uppercase tw-tracking-normal tw-mb-3 max768:tw-text-[45px] max768:tw-leading-[55px]">{{ product.title }}</h1>
            <h2 class="tw-uppercase tw-font-neutraface-display-bold tw-text-sm tw-font-normal tw-tracking-[.28px] tw-mb-6">{{ product.type }}</h2>
            <div class="tw-font-neutraface-display-light tw-text-xl tw-tracking-[.4px] tw-mb-11 max768:tw-mb-7">{{ product.description }}</div>
            <a href="{{ product.metafields.custom.pdf_file | file_url }}" aria-label="Download {{ product.title }} tasting notes" target="_blank" class="tw-flex tw-items-center tw-gap-2.5 tw-font-neutraface-display-bold tw-uppercase tw-text-xs tw-tracking-[.6px] max768:tw-border-[1px] max768:tw-border-white max768:tw-rounded-[30px] max768:tw-py-2.5 max768:tw-px-4 max768:tw-inline-block"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 59.4 59.4" style="enable-background:new 0 0 59.4 59.4" xml:space="preserve" class="tw-w-[24px] max768:tw-hidden">
           <style type="text/css">
               .st0{fill:#FFFFFF;} 
           </style>
           <path class="st0" d="M29.7,0C13.3,0,0,13.3,0,29.7c0,16.4,13.3,29.7,29.7,29.7c16.4,0,29.7-13.3,29.7-29.7C59.4,13.3,46.1,0,29.7,0z
                M29.7,54.1c-13.5,0-24.4-10.9-24.4-24.4S16.2,5.3,29.7,5.3s24.4,10.9,24.4,24.4S43.2,54.1,29.7,54.1z"/>
           <rect x="28" y="13" class="st0" width="4.7" height="18.3"/>
           <rect x="23.1" y="19.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -12.8407 26.3883)" class="st0" width="4.7" height="18.3"/>
           <rect x="32.8" y="19.6" transform="matrix(0.7071 0.7071 -0.7071 0.7071 30.6496 -16.439)" class="st0" width="4.7" height="18.3"/>
           <rect x="14.9" y="40.1" class="st0" width="29.6" height="4.9"/>
           </svg>
           {{ section.settings.tasting-notes }}</a>
        </div>
        <div class="product-details-img max768:tw-order-1">

            {% comment %}
            <img src="{{ product.featured_image | img_url: '300x' }}"
                class="tw-w-full tw-min-w-[300px] tw-mb-[-60px] max1440:tw-min-w-[250px]  max768:tw-min-w-[unset] max768:tw-max-w-[160px] max768:tw-mb-0" alt="{{ product.title }}"/>            
            {% endcomment %}

                <picture>                    
                    <source media="(max-width: 768px)" srcset="{{ product.featured_image | img_url: '160x' }}">
                    <source media="(min-width: 769px)" srcset="{{ product.featured_image | img_url: '300x' }}">                   
                    <img src="{{ product.featured_image | img_url: '300x' }}" alt="{{ section.settings.promotion-title }}" class="tw-w-full tw-min-w-[300px] tw-mb-[-60px] max1440:tw-min-w-[250px]  max768:tw-min-w-[unset] max768:tw-max-w-[160px] max768:tw-mb-0">
                </picture>  
        </div> 
        <div class="product-details-right tw-py-12 tw-w-full max768:tw-order-3">
            <div class="product-detail product-detail-grapes tw-flex tw-font-neutraface-display-light tw-text-xl tw-tracking-[.4px] tw-mb-5">
                <div class="grapes-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.922" height="28.05" viewBox="0 0 21.922 28.05" class="tw-w-9">
                        <g id="Raggruppa_910" data-name="Raggruppa 910" transform="translate(0)">
                          <path id="Tracciato_125" data-name="Tracciato 125" d="M95.735,41.9a4.225,4.225,0,1,1,4.225-4.225A4.229,4.229,0,0,1,95.735,41.9m0-6.692A2.467,2.467,0,1,0,98.2,37.677a2.47,2.47,0,0,0-2.467-2.467" transform="translate(-84.729 -13.853)" fill="#fff"/>
                          <g id="Raggruppa_431" data-name="Raggruppa 431" transform="translate(0 0)">
                            <path id="Tracciato_123" data-name="Tracciato 123" d="M92.291,2.669l1.039,2.014L92.315,5.2l-.3.156a5.686,5.686,0,0,1-2.2.625A6.045,6.045,0,0,1,87.5,5.7a6.031,6.031,0,0,1-2.051-1.161,6.134,6.134,0,0,1-1.474-1.864l-.7-1.348L84.6.643a5.686,5.686,0,0,1,2.23-.628A6.149,6.149,0,0,1,89.149.3a5.45,5.45,0,0,1,3.142,2.369m-1.965-.13a3.989,3.989,0,0,0-1.586-.954,4.118,4.118,0,0,0-1.714-.18,4.943,4.943,0,0,0-1.811.547,5.655,5.655,0,0,0,1.171,1.574,4.183,4.183,0,0,0,1.488.91,3.9,3.9,0,0,0,1.711.173,5.175,5.175,0,0,0,1.8-.562,6.2,6.2,0,0,0-1.06-1.508" transform="translate(-81.319 0)" fill="#fff"/>
                            <path id="Tracciato_124" data-name="Tracciato 124" d="M95.735,20.83a4.225,4.225,0,1,1,4.225-4.225,4.229,4.229,0,0,1-4.225,4.225m0-6.692A2.467,2.467,0,1,0,98.2,16.605a2.47,2.47,0,0,0-2.467-2.467" transform="translate(-84.729 -5.127)" fill="#fff"/>
                            <path id="Tracciato_126" data-name="Tracciato 126" d="M107.156,20.83a4.225,4.225,0,1,1,4.224-4.225,4.229,4.229,0,0,1-4.224,4.225m0-6.692a2.467,2.467,0,1,0,2.467,2.467,2.47,2.47,0,0,0-2.467-2.467" transform="translate(-89.459 -5.127)" fill="#fff"/>
                            <path id="Tracciato_127" data-name="Tracciato 127" d="M90.025,31.615A4.225,4.225,0,1,1,94.25,27.39a4.229,4.229,0,0,1-4.224,4.225m0-6.692a2.467,2.467,0,1,0,2.467,2.467,2.47,2.47,0,0,0-2.467-2.467" transform="translate(-82.365 -9.593)" fill="#fff"/>
                            <path id="Tracciato_128" data-name="Tracciato 128" d="M101.446,31.615a4.225,4.225,0,1,1,4.224-4.225,4.229,4.229,0,0,1-4.224,4.225m0-6.692a2.467,2.467,0,1,0,2.467,2.467,2.47,2.47,0,0,0-2.467-2.467" transform="translate(-87.094 -9.593)" fill="#fff"/>
                            <path id="Tracciato_129" data-name="Tracciato 129" d="M84.16,20.83a4.225,4.225,0,1,1,4.225-4.225A4.229,4.229,0,0,1,84.16,20.83m0-6.692a2.467,2.467,0,1,0,2.467,2.467,2.47,2.47,0,0,0-2.467-2.467" transform="translate(-79.936 -5.127)" fill="#fff"/>
                            <path id="Tracciato_130" data-name="Tracciato 130" d="M97.221,8.867a7.928,7.928,0,0,1,4.944-7.123l.692,1.616a6.187,6.187,0,0,0-3.878,5.488Z" transform="translate(-87.094 -0.722)" fill="#fff"/>
                          </g>
                        </g>
                      </svg>                          
                </div>
                <div class="grapes-detail">
                <strong class="tw-font-neutraface-display-bold tw-block tw-my-1.5 tw-ml-4 tw-text-sm tw-uppercase">{{ section.settings.grape-varities }}</strong>
                <p class="tw-ml-4">{{ product.metafields.custom.grape_varieties }}</p>
                </div>
            </div>
            <div class="product-detail product-detail-vineyard tw-flex tw-font-neutraface-display-light tw-text-xl tw-tracking-[.4px] tw-mb-5">
                <div class="vineyard-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.092" height="20.8" viewBox="0 0 21.092 20.8" class="tw-w-9">
                        <path id="Tracciato_12812" data-name="Tracciato 12812" d="M9.667,28.147V19.094H9.081a8.774,8.774,0,0,1-3.53-.718,9.218,9.218,0,0,1-2.944-2.036A8.789,8.789,0,0,1,.659,13.294,10.029,10.029,0,0,1,0,9.691V7.347H2.294a8.713,8.713,0,0,1,3.477.718A9.506,9.506,0,0,1,8.759,10.1a9.2,9.2,0,0,1,1.6,2.226,9.683,9.683,0,0,1,.894,2.607,6.862,6.862,0,0,1,.493-.673q.269-.323.562-.646a9.506,9.506,0,0,1,2.988-2.036,8.781,8.781,0,0,1,3.505-.718h2.295v2.344a9.486,9.486,0,0,1-.7,3.6,9.225,9.225,0,0,1-4.968,5.068,8.792,8.792,0,0,1-3.47.7h-.527v5.566ZM9.7,17.307a9.259,9.259,0,0,0-.586-3.325A7.647,7.647,0,0,0,7.5,11.375,7.106,7.106,0,0,0,4.98,9.705a8.562,8.562,0,0,0-3.222-.6A10.115,10.115,0,0,0,2.3,12.488,7.277,7.277,0,0,0,3.867,15.11a6.127,6.127,0,0,0,2.651,1.758,10.735,10.735,0,0,0,3.179.439m1.728,3.515a9.031,9.031,0,0,0,3.252-.571A6.8,6.8,0,0,0,17.2,18.611,7.294,7.294,0,0,0,18.778,16a9.883,9.883,0,0,0,.557-3.384,8.643,8.643,0,0,0-3.252.6,7.209,7.209,0,0,0-2.519,1.655,6.973,6.973,0,0,0-1.7,2.754,10.881,10.881,0,0,0-.439,3.193" transform="translate(0 -7.347)" fill="#fff"/>
                      </svg>                      
                </div>
                <div class="vineyard-detail">
                    <strong class="tw-font-neutraface-display-bold tw-block tw-my-1.5 tw-ml-4 tw-text-sm tw-uppercase">{{ section.settings.vineyard-features }}</strong>
                    <p class="tw-ml-4">{{ product.metafields.custom.vineyard_features }}</p>
                </div>
            </div>
            <div class="product-detail product-detail-aging tw-flex tw-font-neutraface-display-light tw-text-xl tw-tracking-[.4px] tw-mb-5">
                <div class="aging-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28.602" height="28.602" viewBox="0 0 28.602 28.602"  class="tw-w-9">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rettangolo_1904" data-name="Rettangolo 1904" width="28.602" height="28.602" transform="translate(-2 -2)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                          </clipPath>
                        </defs>
                        <g id="Raggruppa_909" data-name="Raggruppa 909" transform="translate(2 2)">
                          <g id="Raggruppa_874" data-name="Raggruppa 874" clip-path="url(#clip-path)">
                            <path id="Tracciato_12794" data-name="Tracciato 12794" d="M12.3,24.6A12.3,12.3,0,1,1,24.6,12.3,12.315,12.315,0,0,1,12.3,24.6M12.3.888A11.412,11.412,0,1,0,23.713,12.3,11.425,11.425,0,0,0,12.3.888" transform="translate(0 0.001)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <path id="Tracciato_12795" data-name="Tracciato 12795" d="M21.227,30.977a9.749,9.749,0,1,1,9.749-9.75,9.761,9.761,0,0,1-9.749,9.75m0-18.61a8.86,8.86,0,1,0,8.86,8.86,8.87,8.87,0,0,0-8.86-8.86" transform="translate(-8.926 -8.926)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1898" data-name="Rettangolo 1898" width="0.889" height="13.159" transform="translate(5.277 5.721)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1899" data-name="Rettangolo 1899" width="0.889" height="2.632" transform="translate(9.663 18.708)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1900" data-name="Rettangolo 1900" width="0.889" height="9.943" transform="translate(9.663 3.263)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1901" data-name="Rettangolo 1901" width="0.889" height="2.606" transform="translate(14.049 18.764)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1902" data-name="Rettangolo 1902" width="0.889" height="9.976" transform="translate(14.049 3.203)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <rect id="Rettangolo_1903" data-name="Rettangolo 1903" width="0.889" height="13.159" transform="translate(18.435 5.721)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <path id="Tracciato_12796" data-name="Tracciato 12796" d="M46.108,64.817a2.637,2.637,0,1,1,2.637-2.637,2.64,2.64,0,0,1-2.637,2.637m0-4.385a1.748,1.748,0,1,0,1.748,1.748,1.75,1.75,0,0,0-1.748-1.748" transform="translate(-33.807 -46.306)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <path id="Tracciato_12797" data-name="Tracciato 12797" d="M6.512,93.942H3.774a.445.445,0,0,1-.4-.648L5.5,89.161l.791.406L4.5,93.053H6.29L7.754,91.1l.712.534-1.6,2.131a.445.445,0,0,1-.356.178" transform="translate(-2.589 -69.34)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                            <path id="Tracciato_12798" data-name="Tracciato 12798" d="M89.091,93.942H86.353A.445.445,0,0,1,86,93.764l-1.6-2.131.712-.534,1.464,1.953h1.788l-1.79-3.486.791-.406,2.122,4.133a.445.445,0,0,1-.4.648" transform="translate(-65.638 -69.34)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
                          </g>
                        </g>
                      </svg>                                        
                </div>
                <div class="aging-detail">
                    <strong class="tw-font-neutraface-display-bold tw-block tw-my-1.5 tw-ml-4 tw-text-sm tw-uppercase">{{ section.settings.aging }}</strong>
                    <p class="tw-ml-4">{{ product.metafields.custom.aging }}</p>
                </div>
            </div>     
            <div class="product-detail product-detail-temperature tw-flex tw-font-neutraface-display-light tw-text-xl tw-tracking-[.4px] tw-mb-5">
                <div class="temperature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="23.999" viewBox="0 0 15.999 23.999" class="tw-w-9">
                        <path id="wine_bar_FILL0_wght400_GRAD0_opsz48" d="M242.666-816v-2H247v-6.166a7.906,7.906,0,0,1-5.15-2.657A7.767,7.767,0,0,1,240-832v-8h16v8a7.759,7.759,0,0,1-1.85,5.183,7.919,7.919,0,0,1-5.15,2.65V-818h4.333v2Zm5.328-10a5.741,5.741,0,0,0,4.021-1.583A5.468,5.468,0,0,0,253.932-831H242.066a5.3,5.3,0,0,0,1.9,3.416A5.783,5.783,0,0,0,247.995-826ZM242-833h12v-5H242ZM248-826Z" transform="translate(-240 840)" fill="#fff"/>
                      </svg>                                                    
                </div>
                <div class="temperature-detail">
                    <strong class="tw-font-neutraface-display-bold tw-block tw-my-1.5 tw-ml-4 tw-text-sm tw-uppercase">{{ section.settings.temperature }}</strong>
                    <p class="tw-ml-4">{{ product.metafields.custom.temperature }}</p>
                </div>
            </div>        
           
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Product details",
  "class": "product-details",
  "settings": [
    {
        "type": "text",
        "id": "tasting-notes",
        "default": "Full tasting notes",
        "label": "Tasting notes link download text"
    },
    {
        "type": "text",
        "id": "grape-varities",
        "default": "Grape varities",
        "label": "Grape varities title text"
    },
    {
        "type": "text",
        "id": "vineyard-features",
        "default": "Vineyard features",
        "label": "Vineyard features title text"
    },
    {
        "type": "text",
        "id": "aging",
        "default": "Aging",
        "label": "Aging title text"
    },
    {
        "type": "text",
        "id": "temperature",
        "default": "Temperature",
        "label": "Temperature title text"
    }
  ],
  "presets": [
    {
      "name": "Product details"
    }
  ]
}
{% endschema %}
